/*-------------------Fonts-------------------*/

/*-------------IndieFlower-------------*/
@font-face {
    src: url("/gui/font/indie_flower/IndieFlower.ttf");
}

/*---------------Roboto---------------*/
@font-face {
    src: url("/gui/font/roboto/Roboto-Black.ttf");
}

@font-face {
    src: url("/gui/font/roboto/Roboto-Bold.ttf");
}

@font-face {
    src: url("/gui/font/roboto/Roboto-BoldItalic.ttf");
}

@font-face {
    src: url("/gui/font/roboto/Roboto-Medium.ttf");
}

@font-face {
    src: url("/gui/font/roboto/Roboto-MediumItalic.ttf");
}

@font-face {
    src: url("/gui/font/roboto/Roboto-Light.ttf");
}

@font-face {
    src: url("/gui/font/roboto/Roboto-LightItalic.ttf");
}

@font-face {
    src: url("/gui/font/roboto/Roboto-Thin.ttf");
}

/*-------------------Style Classes-------------------*/

/*---------------General---------------*/
.background {
    -fx-background-color: #F5F5F5;
}

.bg-main-header-banner {
    -fx-background-color: #004ba0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .70), 10, 0, 0, 1);
}

.bg-detail-area-header-banner {
    -fx-background-color: #1976d2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .70), 10, 0, 0, 1);
}

.detail-area-pane {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .55), 25, 0, 5, 5);
}

.main-content-area {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .3), 8, 0, 2, 2); /* Slight Float*/
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .4), 25, 0, 6, 6); STRONG FLOAT*/
}

/*---------------Label---------------*/
.header-label-main-area {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 62;
    -fx-text-fill: #FFFFFF;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 4, 4);
}

.header-sublabel-main-area {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 20;
    -fx-text-fill: #FFFFFF;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 6, 0, 2, 2);
}

.signature-label-main-area {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 18;
    -fx-text-fill: #BBBBBB;
}

.about-dialog-title {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 32;
    -fx-text-fill: #004ba0;
}

.about-dialog-content-text {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 16;
}

.detail-area-header-title {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 42;
    -fx-text-fill: #004ba0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 2, 2);
}

.detail-area-label {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14;
}

.detail-area-title-label {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 16;
}

/*---------------Button---------------*/
.button-large-main-menu {
    -fx-padding: 0.7em 0.57em;
    -jfx-button-type: RAISED;
    -fx-background-color: #1976d2;
    -fx-pref-width: 200;

    -fx-font-family: "Roboto Medium";
    -fx-font-size: 24;
    -fx-text-fill: #FFFFFF;

    -fx-content-display: top;
    -fx-graphic-text-gap: 10;
}

.button-detail-area {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 8, 0, 1, 1);
}

.button-large-detail-area {
-fx-padding: 0.7em 0.57em;
    -jfx-button-type: RAISED;
    -fx-background-color: #1976d2;
    -fx-pref-width: 140;

    -fx-font-family: "Roboto Medium";
    -fx-font-size: 24;
    -fx-text-fill: #FFFFFF;

    -fx-content-display: top;
    -fx-graphic-text-gap: 10;
}

/*---------------Text Field---------------*/

.detail-area-text-field {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14;
}